# MacOS
.DS_Store

# Build output
dist/
packages/*/dist/
__pycache__/

# Dependency directories
node_modules/

# pnpm
.pnpm-store/

# Pack artifacts
*.tgz

# TypeScript incremental build info
*.tsbuildinfo

# Temp folder
temp/

# Test
coverage/
__snapshots__/

packages/**/@qninhdt/

# Editor
.idea/
*.swp
*.swo

# Ruff cache
.ruff_cache/

# Environment variables
.env